body {
  padding-top: 80px;
  padding-bottom: 40px;
}
.modal-dialog{
	width: 600px;
	height: 400px;
}

#grapharea { list-style-type: none; margin: 0; padding: 0; width: 1600px; }
#grapharea holder {margin: 0 80px 0 0;  float: left; width: 300px; font-size: 4em; text-align: center; }

/*login css*/
.form-signin {
  max-width: 500px;
  position: fixed;
  top: 30%;
  left: 30%;
  margin-top: -30px;
  margin-left: -50px;
}

#loginbox{
    margin-top: 10px;
}

.panel-body{
    padding-top: 10px;
}

.input-group{
    margin-bottom: 20px;
}
#greet{
  margin-top: 50px;
  text-align: center;
}